<div id="About">
    <!--
    <h3 class="ui header">
        <i class="icon letter info"></i>About
    </h2>
    -->
    <div class="ui grid">
        <div class="four wide column">
            <img src="imgs/avatar.jpg" class="avatar" />
        </div>
        <div class="eleven wide column">
            <h2>QTEK WebGL</h2>
            <div>
                <iframe src="http://ghbtns.com/github-btn.html?user=pissang&repo=qtek&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe>
                <iframe src="http://ghbtns.com/github-btn.html?user=pissang&repo=qtek&type=fork&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>
