<div id="Settings" class="ui right sidebar">
    <div button-dropdown class="ui labeled icon top right pointing dropdown purple mini button">
        <i class="dropdown icon"></i>
        <span class="text">Shadow Quality</span>
        <div class="menu">
            <div class="item">None</div>
            <div class="item">Low</div>
            <div class="item">High</div>
        </div>
    </div>
    <div button-dropdown class="ui labeled icon top right pointing dropdown purple mini button">
        <i class="dropdown icon"></i>
        <span class="text">Soft Shadow</span>
        <div class="menu">
            <div class="item">PCF</div>
            <div class="item">VSM</div>
        </div>
    </div>
    <div class="ui purple mini button" ng-click="resetView()">Reset view</div>
</div>